includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - tests/

    # Level 9 is the highest level
    level: 9

    ignoreErrors:
        -
            messages:
                - '#Undefined variable: \$this#'
                - '#Call to an undefined method Pest\\PendingCalls\\TestCall\|Pest\\Support\\HigherOrderTapProxy::group\(\).#'
                - '#Call to an undefined method Pest\\PendingCalls\\TestCall\|Pest\\Support\\HigherOrderTapProxy::with\(\).#'
            path: tests/*
        -
            message: '#Method App\\Repositories\\Product\\BaseProductRepositoryInterface#'
            path: app/Repositories/Product/BaseProductRepositoryInterface.php
#
#    excludePaths:
#       -
#    checkMissingIterableValueType: false