includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
#        - tests/

    # Level 9 is the highest level
    level: 7

    ignoreErrors:
        -
            messages:
                - '#.* does not specify its types: .*#'
                - '#.* no value type specified in iterable .*#'
#    ignoreErrors:
#        -
#            messages:
#                - '#Undefined variable: \$this#'
#                - '#Call to an undefined method Pest\\PendingCalls\\TestCall\|Pest\\Support\\HigherOrderTapProxy::group\(\).#'
#                - '#Call to an undefined method Pest\\PendingCalls\\TestCall\|Pest\\Support\\HigherOrderTapProxy::with\(\).#'
#            path: tests/*

#    excludePaths:
#       -
#    checkMissingIterableValueType: false