@tailwind base;
@tailwind components;
@tailwind utilities;


.main-content {
    transition: margin-left 0.3s, margin-right 0.3s;
}

.main-content.expanded-left {
    margin-left: 150px;
}

.main-content.expanded-right {
    margin-right: 150px;
}

/* Scrollbar styles */
.scrollbar-thin {
    scrollbar-width: thin;
}

.scrollbar-thumb-blue-500 {
    scrollbar-color: #4299e1 #edf2f7;
}

.scrollbar-track-gray-100 {
    scrollbar-color: #edf2f7 #edf2f7;
}

.scrollbar-thumb-blue-500::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-thumb-blue-500::-webkit-scrollbar-thumb {
    background-color: #4299e1;
    border-radius: 10px;
}

.scrollbar-track-gray-100::-webkit-scrollbar-track {
    background-color: #edf2f7;
}

#applied-filters-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#applied-filters-list li {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    align-items: center;
}

#applied-filters-list li .remove-filter {
    margin-left: 10px;
    cursor: pointer;
    color: red;
}

#filter-side-menu:focus,
#filter-side-menu:hover,
#filter-side-menu:active {
    outline: 2px solid grey;
}

.form-select:focus,
input[type="range"]:focus {
    border-color: none;
    box-shadow: none;
}

input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    appearance: none;
}

/* Range color firefox */
input[type="range"]::-moz-range-thumb {
    background-color: #ff4444;
}

#minPrice::-moz-range-progress {
    background-color: lightcoral;
}

#minPrice::-moz-range-track {
    background-color: red;
}

#maxPrice::-moz-range-progress {
    background-color: red;
}

#maxPrice::-moz-range-track {
    background-color: lightcoral;
}

/* Range color IE*/
input[type="range"]::-webkit-slider-thumb {
    background-color: #ff4444;
}

#minPrice::-ms-fill-lower {
    background-color: lightcoral;
}

#minPrice::-ms-fill-upper {
    background-color: red;
}

#minPrice::-ms-fill-lower {
    background-color: red;
}

#minPrice::-ms-fill-upper {
    background-color: lightcoral;
}

#filter-side-menu.open {
    transform: translateX(-100%);
}

#product-short-description h3 {
    font-weight: 700;
    font-size: var(--text-lg);
    /* 1.125rem (18px) */
    line-height: var(--text-lg--line-height);
    /* calc(1.75 / 1.125) */
}

#product-short-description li {
    display: flex;
    margin-bottom: 1px;
}

#product-short-description li:before {
    content: '✓';
    margin-right: 2px;
    color: #228B22;
}

button {
    @apply active:translate-x-1 active:translate-y-1
}